<%- include('header'); %>

    <main>
        <% if (typeof error !== 'undefined' || typeof profil === 'undefined') { %>
        <div class="container my-3">
            <div class="alert alert-danger text-center" role="alert">
                <h4 class="alert-heading">Hoppla!</h4>
                <p class="mb-0">
                    Dieser Spieler konnte in unserer Datenbank nicht gefunden werden :/
                </p>
            </div>
        </div>
        <% } else { %>
        <div class="container my-3">
            <div class="row">
                <div class="col-lg-4">
                    <div class="shadow-sm p-3 bg-white rounded text-center status-border:<%= profil.onlineStatus %>">
                        <img style="max-width: 100%;" src="https://crafatar.com/renders/body/<%= typeof profil !== 'undefined' ? profil.uuid : 0 %>">
                    </div>
                    <div class="my-3 text-center">
                        <%- typeof profil.banned !== 'undefined' ? profil.banned === false ? '<span class="badge:green">NICHT GESPERRT</span>' : '<span class="badge:red">GESPERRT</span>' : 'null' %>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card shadow-sm text-center mb-3">
                        <div class="card-header">Informationen</div>
                        <div class="card-body">
                            <div class="d-inline d-sm-flex">
                                <div class="fw-bold">UUID</div>
                                <div class="ms-auto"><%= profil.uuid %></div>
                            </div>
                            <div class="d-inline d-sm-flex mt-sm-1">
                                <div class="fw-bold">Benutzername</div>
                                <div class="ms-auto"><%= profil.username %></div>
                            </div>
                            <div class="d-inline d-sm-flex mt-sm-1">
                                <div class="fw-bold">Gruppe</div>
                                <div class="ms-auto"><%= profil.group %></div>
                            </div>
                        </div>
                    </div>
                    <div class="overflow-auto card shadow-sm">
                        <div class="card-header text-center">Vorherige Namen</div>
                        <div class="card-body">
                            <div class="overflow-auto" style="max-height: 200px;">
                                <% profil.lastNameList.slice().reverse().forEach((item) => {
                                    if (item.changedToAt) { %>
                                <figure>
                                    <blockquote class="blockquote mb-0">
                                        <p>
                                            <%= item.name %>
                                        </p>
                                    </blockquote>
                                    <small class="text-muted">
                                        <%
                                            const date = new Date(item.changedToAt);
                                        %>
                                        <%= date.getDate() %>.<%= date.getMonth() + 1 %>.<%= date.getFullYear() %> - <%= date.getHours() %>:<%= date.getMinutes() %>:<%= date.getSeconds() %>
                                    </small>
                                </figure>
                                   <% } else { %>
                                <figure class="mb-0">
                                    <blockquote class="blockquote mb-0">
                                        <p>
                                            <%= item.name %>
                                        </p>
                                    </blockquote>
                                </figure>
                                <% }}); %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="label mt-2">Minigames</h3>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3">
                <div class="col">
                    <div class="card bg-dark text-white">
                        <img src="/assets/img/mgffa.png" class="card-img" alt="...">
                        <div class="card-img-overlay p-0">
                            <h5 class="card-title text-center p-1" style="background-color: #000000a3;">Free-For-All</h5>
                        </div>
                    </div>
                    <div class="mt-2 shadow-sm p-3 bg-white rounded text-center">
                        <div class="d-flex">
                            <div class="fw-bold">Kills</div>
                            <div class="ms-auto"><span class="badge:green text:shadow-sm fw-bold"><%= profil.ffa.kills %></span></div>
                        </div>
                        <div class="d-flex mt-2">
                            <div class="fw-bold">Tode</div>
                            <div class="ms-auto"><span class="badge:green text:shadow-sm fw-bold"><%= profil.ffa.deaths %></span></div>
                        </div>
                    </div>
                </div>
                <div class="col mt-3 mt-sm-0">
                    <div class="card bg-dark text-white">
                        <img src="/assets/img/mggtc.png" class="card-img" alt="...">
                        <div class="card-img-overlay p-0">
                            <h5 class="card-title text-center p-1" style="background-color: #000000a3;">Get-The-Chicken</h5>
                        </div>
                    </div>
                    <div class="mt-2 shadow-sm p-3 bg-white rounded text-center">
                        <div class="d-flex">
                            <div class="fw-bold">Gewonnen</div>
                            <div class="ms-auto"><span class="badge:green text:shadow-sm fw-bold"><%= profil.gtc.won %>x</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </main>

<%- include('footer'); %>