<%- include('header'); %>

    <main>
        <div class="container">
            <div class="text-center my-3">
                <h3>Die besten Spieler!</h3>
                <p>
                    Hier sind die besten Spieler aus unserem Netzwerk in den verschiedenen Minigames aufgelistet!
                </p>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-3 shadow-sm text-center">
                        <div class="card-header">
                            <h4 class="my-0 fw-normal">Free-For-All</h4>
                        </div>
                        <div class="card-body">
                            <span><img src="https://crafatar.com/avatars/<%= typeof ffa != 'undefined' ? ffa.uuid : 0 %>" alt="."></span>
                            <h1 class="card-title pricing-card-title"><%= typeof ffa !== 'undefined' ? ffa.username : 'null' %></h1>
                            <h4 class="text-muted">Statistiken</h4>
                            <ul class="list-unstyled mt-3 mb-2">
                                <li class="mb-2"><span class="badge:green text:shadow-sm fw-bold"><%= typeof ffa !== 'undefined' ? ffa.kills : 0 %> Kills</span></li>
                                <li><span class="badge:green text:shadow-sm fw-bold"><%= typeof ffa !== 'undefined' ? ffa.deaths : 0 %> Tode</span></li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <a href="/p/<%= typeof ffa !== 'undefined' ? ffa.username : 'null' %>"><button type="button" class="w-100 btn btn:green">Profil</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

<%- include('footer'); %>